<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="cybathlon_ekf_node" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/cybathlon_ekf.yaml" />
  </node>

  <node pkg="robot_localization" type="odom_translator.py" name="cybathlon_odom_translator" output="screen" />
</launch>
